* {
    margin: 0 0;
    padding: 0 0;
}

body {
    background-image: url("./back2.jpg");
    text-align: center;
    color: rgb(243, 243, 243);
}

#title {
    font-size: 30px;
    margin: 50px 0 10px 0;
}

p {
    text-align: left;
    font-size: 18px;
}

#description {
    font-size: 20px;
    text-align: center;
}

.container {
    margin: 30px auto;
    padding: 20px 20px;
    max-width: 600px;
    background-color: rgba(180, 160, 120, 1);
}

fieldset {
    padding: 10px 20px;
}

label,
input,
select,
textarea {
    display: block;

}



label {
    text-align: left;
    margin: 10px 0;
}

input,
select {
    margin: 10px 0;

}

#name,
#email,
#number,
select {
    width: 100%;
    height: 30px;
}
input{
    border: none;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;

}

textarea {
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
}

button {
    width: 80%;
    height: 40px;
    margin-top: 20px;
    background-color: rgb(55, 175, 100);
}

fieldset {
    border: none;
}